#Top{
    text-decoration: underline !important;
}

dt{
    font-weight: bold !important;
}

.emphasizedtext{
    font-style: italic !important;
    font-size: larger !important;
    font-weight: bolder !important;
    color:rgb(2, 109, 31) !important;
}

body{
    background-color:rgb(249, 172, 131) !important;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    border: 5px solid black !important;
    margin:1px !important;
    padding: 15px !important;
}

.myDiv{
    text-align: center !important;
    background-color: black !important;
    color: aliceblue !important;
    height: 90px !important;
}

.myDiv2{
    text-align: center !important;
    font-weight: bold !important;
    font-size: medium !important;
    color: rgb(2, 109, 31) !important;
}

.div3{
    text-align: center !important; 
    color: darkslategrey !important;
    text-decoration:underline !important;
}
